<page-header title="Contacts Page" subtitle="This is the contacts page" icon="fa-solid fa-address-card"
  bgColor="alert-primary rounded-3 p-2"></page-header>

<div class="d-flex justify-content-between">
  <div class="my-2">
    <a
      routerLink="new-contact"
      class="btn btn-outline-dark"
      title="Add new contact"
      ><i class="fa fa-plus-circle"></i> {{ "add contact" | titlecase }}</a
    >
  </div>

  <display-mode-controllers
    [controllers]="controllers"
    (onChangeDisplay)="onChangeDisplay($event)"
  ></display-mode-controllers>
</div>

<search-bar
  *ngIf="contacts"
  [categories]="categories"
  [array]="contactsRowData"
  (onArrayFiltered)="onSearch($event)"
></search-bar>

  <div *ngIf="contacts && contacts.length; else noContacts">
    <contacts-table *ngIf="display === 'table'" [contacts]="contacts" (onDeleteContact)="deleteContact($event)">
    </contacts-table>

    <contacts-folder [contacts]="contacts" *ngIf="display === 'folder'"></contacts-folder>
  </div>



<ng-template #noContacts>
  <div class="p-2">
    {{ "no Customers where found in the database" | textCapital }}
  </div>
</ng-template>
