<page-header title="about page"
  subtitle="Here you can find an explanation of the application and how to interface with it" icon="fa fa-circle-info"
  bgColor="alert-info p-2 m-2 rounded"></page-header>

<div class="col-12 px-0 m-0">
  <div class="row bg-dark p-4 m-0">
    <div class="col-12 col-md-8 center p-0">
      <img class="img-fluid" src="/src/assets/pics/צילום מסך 2022-09-22 ב-0.41.56.png" alt="cards display" />
    </div>
    <div class="col-12 col-md-4 center text-light p-0">
      <div class="px-4">
        <h2 class="text-center">Display Table Mode</h2>
        <p>
          Customer relationship management (CRM) is a process in which a business or other organization administers its
          interactions with customers, typically using data analysis to study large amounts of information.
        </p>
      </div>
    </div>
  </div>
  <div class="row mb-4 bg-light p-4 m-0">
    <div class="col-12 col-md-4 center p-0">
      <div class="px-4">
        <h2 class="text-center">Display Folders Mode</h2>
        <p>
          CRM may be used with past, present or potential customers. The concepts, procedures, and rules that a
          corporation follows when communicating with its consumers are referred to as CRM.
        </p>
      </div>
    </div>
     <div class="col-12 col-md-8 center p-0">
      <img class="img-fluid" src="/src/assets/pics/צילום מסך 2022-09-22 ב-0.41.56.png" alt="cards display" />
    </div>
  </div>
</div>
