<page-header
  title="login"
  subtitle="please fill the form fields and login"
  icon="fa-solid fa-sign-in
  "
></page-header>

<div class="center mt-4">
  <form
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm)"
    class="col-12 col-md-6 col-xl-4 p-4 alert-success rounded"
  >
    <div class="form-group mb-2">
      <label for="email">{{ "email" | titlecase }}</label>
      <input
        ngModel
        id="email"
        name="email"
        type="email"
        class="form-control"
        autocomplete="off"
        placeholder="user@gmail.com"
        required
        pattern=".+@.+\..{2,}"
        #email="ngModel"
        [ngClass]="{
          'is-invalid': email.invalid && email.touched,
          'is-valid': email.valid && email.touched
        }"
      />
      <span class="invalid-feedback">{{
        "please enter a valid email" | textCapital
      }}</span>
    </div>
    <div class="form-group mb-2">
      <label for="password">{{ "password" | titlecase }}</label>
      <input
        ngModel
        id="password"
        name="password"
        type="password"
        class="form-control"
        autocomplete="off"
        placeholder="Aa1234!"
        required
        minlength="6"
        #password="ngModel"
        [ngClass]="{
          'is-invalid': password.invalid && password.touched,
          'is-valid': password.valid && password.touched
        }"
      />
      <span class="invalid-feedback">{{
        "please enter a valid password" | textCapital
      }}</span>
    </div>

    <input
      type="button"
      (click)="resetForm(loginForm)"
      value="Reset"
      class="btn btn-danger col-12 mb-2"
    />
  <input
        type="button"
        value="Login With Google"
        class="btn btn-outline-dark col-12 my-2"
        role="button"
        title="login with google"
        (click)="loginWithGoogle()"
      />
    <button
      [disabled]="loginForm.form.invalid"
      type="submit"
      class="col-12 btn btn-success"
    >
      {{ "submit" | titlecase }}
    </button>
  </form>
</div>
